.header {
  background-color: rgb(205, 76, 44);
  .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-item {
    margin: 0.75em;
    a {
      text-decoration: none;
      color: white;
      :active {
        color: gray;
      }
    }
  }
}
